.header {
    background-color: #F7F7FB;
    border-bottom: 1px solid rgba(18, 20, 23, 0.05);
}

.container {
    max-width: 1200px;
    height: 64px;
    margin: 0 auto;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #121417;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 32px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    color: #121417;
    text-decoration: none;
    transition: color 0.2s;
}

.link:hover, .active {
    color: #3470FF;
}

.span{
    color: #3470FF;
}