.header {
    background-color: #DADDE1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #101828;
    font-size: 24px;
    margin-left: 120px;
}
.span{
    color: #0B44CD;
}
.nav{
   font-weight: 500;
   font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #101828;
    margin-right: 120px;
    display: flex;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.nav :hover {
    color: #0B44CD;
    cursor: pointer;
}
