.card {
  width: 276px;
  background: #fff;
  border-radius: 12px;
  flex-direction: column;
  overflow: hidden;
}
.image {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.brand {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #060606;
  margin-bottom: 4px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #3470ff;
}

.info {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.price {
  color: #000000;
  font-weight: 600;
  margin-top: 4px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta {
  margin-top: 8px;
  margin-bottom: 28px;
  gap: 4px;
}

.metaLine {
  font-size: 12px;
  color: #888888;
  line-height: 1.5;
}

.buttonMore {
  margin-top: auto; 
  width: 100%;
  height: 44px;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}