@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121417; 
  --main-blue: #3470ff;
  --main-blue-hover: #0b44cd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--main-blue);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-blue);
}

a, button {
  transition: all 0.2s ease-in-out;
}