.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}